<div class="store-container" id="menu-container">
    <div class="menu-header">
        <button class="close">
            <i class="icofont-close"></i>
        </button>
    </div>
    <ul class="menu-list">
        <% menu_category.each do |record| %>
            <li>
                <%= render partial: "layouts/menu/title", locals: {record: record, link_mode: false, is_leaf: false} %>
                <ul>
                    <li>
                        <%= render partial: "layouts/menu/title", locals: {record: record, link_mode: true, is_leaf: false} %>
                    </li>
                    <% record[:children].each do |child_record| %>
                    <li>
                        <%= render partial: "layouts/menu/title", locals: {record: child_record, link_mode: false, is_leaf: false} %>
                        <ul>
                            <li>
                                <%= render partial: "layouts/menu/title", locals: {record: child_record, link_mode: true, is_leaf: false} %>
                            </li>
                            <% child_record[:children].each do |child_child_record| %>
                            <li>
                                <%= render partial: "layouts/menu/title", locals: {record: child_child_record, link_mode: true, is_leaf: true} %>
                            </li>
                            <% end if child_record[:children].present? %>
                        </ul>
                    </li>
                    <% end if record[:children].present? %>
                </ul>
            </li>
        <% end %>
    </ul>
</div>