<% if link_mode or is_leaf %>
    <%= link_to(record[:website_url]) do %>
        <%= is_leaf ? record[:cat_name] : "Todo #{record[:cat_name]}" %>
    <% end %>
<% else %>
    <span><%= record[:cat_name]%></span>
<% end %>