// Place all the styles related to the Website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";


*{
    //font-family: 'Thasadith', sans-serif;
    font-family: 'Jockey One', sans-serif;
}
*, * :after, * :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
@import "owl.carousel/src/scss/owl.carousel";
@import "owl.carousel/src/scss/owl.theme.default";
//@import "owl.carousel/dist/owl.carousel.min.css";
//@import "owl.carousel/dist/owl.theme.default.min.css";
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

$bg-color-menu1: #84b0ca;
$menu-list-a-background-color: #3f6f8c;
$menu-border-color1: #3f6f8c;
@mixin respond-to($media) {
    @if $media == responsive_menu {
        @media only screen and (max-width: 768px) { @content; }
    }
}
body, html{
    overflow-x: hidden;
}

@media only screen and (min-device-width: 380px){
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;
a{
    &:hover{
        background-color: transparent;
    }
}

@mixin media($media) {
    @if $media == xs {
        @media (max-width: $breakpoint-sm) { @content; }
    }
    @else if $media == sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
    }
    @else if $media == md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
    }
    @else if $media == lg {
        @media (min-width: $breakpoint-lg) { @content; }
    }
}
.elemento {
    font-size: 1.2em;
    color: #c00;

    @include media(xs) {
        font-size: 1.6em;
    }
}
.store-container{
    max-width: 1700px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    .store-row{
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        .store-col{
            position: relative;
            min-height: 1px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
        .store-col-4{
            width: 33.333%;
        }
        .store-element{
            width: 100%;
        }
    }
}
.store-align-right{
    text-align: right;
    .store-widget-container{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.store-element-image{
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    >a{
        display: inline-block;
    }
}
.store-logo-image-top{
    img{
        width: 190px;
        @media (max-width: 500px ){
            width: 120px;
        }
    }
}
.store-widget-wrap{
    width:100%;
    align-content: center;
    align-items: center;
    display: flex;
}

ul{
    &.store-list-actions{
        display: flex;
        list-style-type: none;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: revert;
        margin-bottom: revert;
        &.wrap{
            flex-wrap: wrap;
        }
        >li{
            margin-left: 5px;
            cursor: pointer;
            i{
                font-size: 30px;
                
                @media (max-width: 699px) {
                    font-size: 25px;
                }
            }
        }
        a{
            color: inherit;
            text-decoration-line: none;
            display: flex;
            align-items: center;
            >span{
                @media (max-width: 699px) {
                    display: none;
                }
            }
        }
    }
}
.section-header{
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ebebeb;
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    padding: 10px 40px 10px 40px;
}
footer{
    .footer-top{
        background-color: black;
        padding:20px 30px;
    }
    .footer-logo{
        text-align: center;
        margin: 5px 0;
        img{
            position: relative;
            width:100%;
            max-width: 139px;
        }
    }
    .footer-contact{
        p{
            color: #777;
            text-align: center;
            &.phone{
                a{
                    font-size: 30px;
                    color: #fff;
                    text-align: center;
                }
            }
            &.email{
                a{
                    font: 14px "Oswald", Helvetica, Arial, sans-serif;
                    color: #4686C6;
                    font-family: 'Thasadith', sans-serif;
                }
            }
        }
    }
}
.footer-sitemap{
    a{
        padding: 2px 5px 2px 2px;
        color:white !important;
        text-decoration: none;
    }
    &.links-rounded{
        a{
            display: inline-block;
            border-radius: 50%;
            border: 1px solid white;
            text-align: center;
            padding: 6px 7px;
            margin-top: 2px;;
            margin-right: 6px;;
        }
    }
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
@media (min-width: 768px){
    footer{
        .footer-logo {
            text-align: center;
            margin: 5px 0;
        }
    }
}
@media (min-width: 992px){
    footer{
        .footer-contact{
            p{
                text-align: left;
            }
        }
    }
}
@mixin list-style-type-none{
    list-style-type: none;
}
.menu-list-container-style{
    display: inline-block;
    position: absolute;
    border: 1px solid white;
    padding-left: 0px;
    background-color: white;
    z-index: 10;
    top: 90%;
    left: 0;
    max-width: 200px;
    width: 100%;
    min-width: 170px;
    @include respond-to(responsive_menu){
        position: relative;
        max-width: initial !important;
        min-width: initial !important;
        top: initial !important;
        left: initial !important;
        background-color: inherit;
        border: none;
        box-shadow: none;
    }
}
.menu-row-style{
    background-color: $menu-list-a-background-color;
    color:white;
}
.menu-list{
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #f1f1f1;
    @include respond-to(responsive_menu){
        display: block;
        margin-bottom: 0px;
        i.icofont-arrow-right{
            transition: all 0.2s ease-in-out;
        }
        li{
            >span,>a{
                padding: 12px 5px 12px 15px !important;
                border-bottom: 1px solid $menu-border-color1;
                font-size: 15px;
            }
            >span{
                font-family: IcoFont!important;
                &:before{
                    display: block;
                    position: absolute;
                    left: 0;
                    content: "\ea5d";
                }
            }
            &:hover{
                >span{
                    &:before{
                        transition: all 0.2s ease-in-out;
                        transform:rotateZ(90deg);
                    }
                }
            }
            >ul{
                >li{
                    >span,>a{
                        padding-left: 25px !important;
                        border-bottom: 1px solid $menu-border-color1;
                    }
                    >span{
                        
                        &:before{
                            left: 10px;
                        }
                    }
                }
            }
        }
    }
    @include list-style-type-none;
    ul{        
        @include list-style-type-none;
    }
    a{
        color: inherit;
        &:hover, &:visited, &:active{
            text-decoration-line: none;
        }
    }
    span,a{
        transition: background-color 0.3s ease-in-out;
        &:hover{
            @extend .menu-row-style
        }
    }
    a,span{
        cursor: pointer;
    }
    >li{
        width: auto;
        ul{
            display: none;
            &.show{
                display: inline-block;
            }
        }
        &:hover{
            >ul{
                @extend .menu-list-container-style;
                >li{
                    &:hover{
                        >span{
                            @extend .menu-row-style;
                        }
                        >ul{
                            @extend .menu-list-container-style;
                            left: 100%;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    li{
        i{
            &.icofont-arrow-right{
                position: absolute;
                right: 0;
                top: 30%;
                color: #b1b1b1;
            }
        }
        position: relative;
        a{
            display: inline-block;
            width: 100%;
            padding: 4px 5px;
        }
        span{
            display: inline-block;
            width: 100%;
            padding: 8px 5px;
        }
        a,span{
            background-color: $bg-color-menu1;
            color: white;
        }
    }
}

#btn-menu{
    display: none;
    @include respond-to(responsive_menu){
        display: block;
    }
}
#menu-container{
    background-color: $bg-color-menu1;
    .menu-header{
        display: none;
    }
    @include respond-to( responsive_menu ){
        display: block;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        background-color: $bg-color-menu1;
        box-shadow: 0px 0px 4px 0px #bbbbbb;
        overflow-y: scroll;
        border-left: 1px solid #c1c1c1;
        height: 100vh;
        .menu-header{
            display: block;
            background-color: #6e94ab;
            background-color: #6e94abd1;
            .close{
                padding: 10px;
                float: none;
                font-size: 30px;
                .icofont-close{
                    color: white;
                }
            }
        }
        &.open{
            right: 0px;
        }
    }
}
.products-by-category{
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    a{
        text-decoration: none;
        display: block;
        margin: 2px;
        margin-bottom: 10px;
        &:active{
            outline:2px solid rgba(42, 32, 133, 0.6);
            border: 2px;
        }
    }
    .product-block{
        .img-cover{
            background-repeat: no-repeat;
            background-position: 75%;
            background-size: cover;
            width: 250px;
            height: 250px;
            border: 1px solid #e0e0e0;
            box-shadow: 1px 1px 9px 1px #e8e8e8;
        }
        .title, .price{
            text-align:center;
            display: block;
            color:  #484c51;
        }
    }
}
.breadcrumb-item {
    &:not(.active){
        a{
            color: #42aefb;
        }
    }
}
.product-title{
    font-size: 20px;
    font-weight:bold;
    color: #9a9a9a;
}

.product-img-cover{
    background-repeat: no-repeat;
    background-position: 75%;
    background-size: cover;
    width: 100%;
    height: 300px;
    border: 1px solid #83a0b5;
    box-shadow: 0px 0px 3px 1px #b5b5b5;
    &.list-preview{
        width: 100px !important;
        height: 100px !important;
    }
}
.product-buttons{
    width: 100%;
    text-align: center;
    .btn-cart{
        background: $bg-color-menu1;
        color: white;
    }
}
.align-left{
    text-align: left !important;
}
.modal-img-container{
    position: relative;
    max-width: 100px;
    min-width: 80px;
    img{
        width:100%;
        position: relative;
    }
}

.modal-shopping-table{
    div{
        padding-right: 10px;
    }
}
#modal-search{
    input{
        width: 100%;
        padding: 10px 2px;
    }
}
.empty-block{
    padding-top: 40px;
    padding-bottom: 40px;
}
.search-results{
    @extend .empty-block;
}
.product-info-container{
    margin-bottom: 25px;
}
.cart-list{
    tr{
        &:active{
            //outline: 3px solid #4f93dc;
        }
        .prod-container{
            @extend .noselect;
            display: flex;
            align-items: center;
            border: 1px solid #e6e6e6;
            padding: 10px 0px;
            figure{
                position: relative;
                img{
                    max-width: 130px;
                    width: 100%;
                    position: relative;
                    //border: 1px solid #aaa;
                    margin-right: 10px;
                    //box-shadow: 3px 3px 3px 0px #d8d8d8;
                }
            }
            .prod-title{
                text-decoration-line: underline;
                font-weight: bold;
            }
            .quantity-actions{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .add-quantity, .dec-quantity{
                    @extend .noselect;
                    padding: 4px 10px;
                    border: 1px solid #daecff;
                    cursor: pointer;
                    box-shadow: 2px 2px 3px 0px #498bd0;
                    background: #aed5ff;
                    &:active{
                        box-shadow: 0px 0px 3px 0px #afadad;
                    }
                }
                .add-quantity{
                    margin: 5px 5px 5px 0px;
                }
                .dec-quantity{
                    margin: 5px 0px 5px 5px;
                }
            }
        }
        .btn-remove{
            background: #498bd0;
            color: white;
        }
    }
}
.header-title-style1{
    margin: 20px 10px;
    text-align: center;
    &:after{
        display: block;
        content: "";
        height: 1px;
        width: 100px;
        background: grey;
        margin: 15px auto;
        position: relative;
        margin-top: 8px;
    }
}
.cart-container{
    *{
        font-family: 'Patua One', cursive;
    }
}
.swal2-styled{
    padding: .2em 1em !important;
}
.shopping-cart-form{
    padding: 30px 10px;
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
    .btn-send{
        background-color: #157b48;
        color: white;
    }
}
.action-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container{
    z-index: 10;
}
.nav-current-category{
    .breadcrumb-item:not(.active) a{
        color: #009620;
    }
    >ol{
        background-color: #d7ffe5;
    }
}

.product-container{
    padding: 20px 0px;
    .products-list-preview{
        list-style-type: none;
        padding-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        border-top: 1px solid #dedede;
        li{
            margin: 5px;
            border: 2px solid #1b4e73;
            box-shadow: 0px 0px 3px 1px #84c6ff;
            cursor: pointer;
        }
    }
}
#modal-img-preview{
    img{
        position: relative;
        max-width: 100%;
    }
}

@include respond-to(responsive_menu){
    .product-details{
        margin: 10px 0px;
        width: 100%;
        position: relative;
        text-align: center;
        .align-left{
            text-align:center !important;
        }
    }
}