<%= render partial: "layouts/menu/list", locals: {menu_category: @menu_category} %>
<div class="container cart-container">
    <h2 class="header-title-style1">Carrito</h2>
    <div class="row">
        <% if @products.present? %>
        <div class="col-lg-6">
            <table 
                class="
                    table 
                    table-striped 
                    table-bordered 
                    table-hover 
                    cart-list">
                <thead>
                    <th>Productos</th>
                </thead>
                <tbody>
                    <% @products.each do |product| %>
                    <tr 
                        class="cart-row-item" 
                        item-id="<%= product['id']%>" 
                        prod-price="<%= product['prod_price']%>" 
                        prod-quantity="<%= product['buy_quantity']%>"
                    >
                        <td>
                            <div class="prod-container">
                                <figure>
                                    <%= image_tag(product['record'].first_image_url(request.base_url), alt: "imagen producto") %>
                                </figure>
                                <div>
                                    <%= content_tag(:p, product['prod_name'].split.map(&:capitalize).join(' '), class: "prod-title" ) %>
                                    <p>
                                        Precio: S/ <%= product['prod_price']%>
                                    </p>
                                    <p>
                                        Subtotal: S/ <%= content_tag(:span, (product['prod_price'].to_f * product['buy_quantity'].to_f).round(2), class: "sub-total-item", 'item-id' => product['id']) %>
                                    </p>
                                    <%= content_tag(:div, class: "quantity-actions", quantity: product['buy_quantity'], "item-id" => product['id'] ) do %>
                                        <%= content_tag(:div, '+', class: "add-quantity", "item-id" => product['id'])%>
                                        <%= content_tag(:div, class: "current-quantity-container") do %>
                                            Cantidad: <%= content_tag(:span, product['buy_quantity'], class: "current-quantity", "item-id" => product['id'] ) %>
                                        <% end %>
                                        <%= content_tag(:div, '-', class: "dec-quantity", "item-id" => product['id'])%>
                                    <% end %>
                                    <%= button_tag(class: "btn btn-sm btn-remove", "item-id" => product['id'], "product-name" => product['prod_name'] ) do %>
                                        <i class="icofont-trash"></i>Retirar
                                    <% end %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div>
                <div id="shopping-cart-total" class="alert alert-primary" role="alert">
                </div>
            </div>
            <div class="shopping-cart-form">
                <input type="hidden" name="captcha_value" class="captcha_value" />
                <div class="form-group">
                    <label for="shopping-cart-fullname">Nombres</label>
                    <input 
                        type="text" 
                        name="fullname"
                        class="form-control" 
                        id="shopping-cart-fullname" 
                        placeholder="Nombres"
                        aria-describedby="Nombres">
                </div>
                <div class="form-group">
                    <label for="shopping-cart-phone">Teléfono</label>
                    <input 
                        type="text" 
                        name="phone"
                        class="form-control" 
                        id="shopping-cart-phone" 
                        placeholder="Teléfono"
                        aria-describedby="Teléfono">
                </div>
                <div class="form-group">
                    <label for="shopping-cart-email">Correo electrónico (opcional)</label>
                    <input 
                        type="email" 
                        name="email"
                        class="form-control" 
                        id="shopping-cart-email" 
                        placeholder="Correo electrónico (opcional)"
                        aria-describedby="Correo electrónico (opcional)">
                </div>
                <div class="form-group">
                    <label for="shopping-cart-address">Dirección exacta y referencia</label>
                    <textarea 
                        class="form-control" 
                        id="shopping-cart-address" 
                        rows="3" 
                        placeholder="Dirección exacta y referencia"
                        name="address"
                    ></textarea>
                </div>
                <div class="action-buttons">
                    <button class="btn btn-sm btn-send">Enviar</button>
                    <div class="spinner-border spinner-send text-info" style="display: none;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <% else %>
        <div class="empty-block col-lg-12">
            <h1>No existen productos en su carrito.</h1>
        </div>
        <% end %>
    </div>
</div>

<div class="modal" tabindex="-1" id="modal-shopping-cart-remove-item">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Retirar producto del carrito</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>
  <script>
        jQuery(window).ready(function(evt){
            jQuery('.shopping-cart-form .btn-send').click(function(evt){
                console.log(evt)
                const props = {}
                jQuery('.shopping-cart-form [name]').each((idx,it)=>{
                    const obj = jQuery(it)
                    const name = obj.attr('name')
                    const value = obj.val()
                    props[name] = value
                })
                console.log(props)
                let pass = true
                for(const idx in props){
                    const val = props[idx]
                    if(idx != 'email' && idx != 'captcha_value'){
                        if(jQuery.trim(val)==''){
                            let title_msg = ''
                            if(idx=='fullname')title_msg = 'Indique sus nombres'
                            if(idx=='address')title_msg = 'Indique su dirección'
                            if(idx=='phone')title_msg = 'Indique su teléfono'
                            Swal.fire({title:title_msg,icon:'warning'})
                            pass = false
                            break
                        }
                    }
                }
                if(!pass)return
                jQuery(this).hide()
                jQuery(this).parent().find('.spinner-send').show()
                evt.preventDefault()

                const items = []
                jQuery("tr.cart-row-item").each((idx,it)=>{
                    const obj = jQuery(it)
                    items.push({
                        id: obj.attr('item-id'),
                        qt: obj.attr('prod-quantity')
                    })
                })
                props['items'] = items
                
                grecaptcha.ready(() => {
                    grecaptcha.execute('6LdxO8QZAAAAAMk00z9ZVle45HIflpvGE_CqO2Sb', {action: `submit_cart`}).then(token => {
                        //console.log(token)
                        props['g-recaptcha-response'] = token
                        props['authenticity_token'] = jQuery('meta[name="csrf-token"]').attr("content")
                        axios.post('/guest/orders',props,{
                            headers:{
                                'Content-Type':'application/json',
                                'Accept':'application/json'
                            },
                        }).then(res => {
                            jQuery(this).show()
                            jQuery(this).parent().find('.spinner-send').hide()
                
                        }).catch(err =>{
                            jQuery(this).show()
                            jQuery(this).parent().find('.spinner-send').hide()
                        })
                    }).catch(err =>{
                        jQuery(this).show()
                        jQuery(this).parent().find('.spinner-send').hide()
                        window.location.reload()
                    })
                    
                })
                
            })
        })
  </script>