<%= render partial: "layouts/menu/list", locals: {menu_category: @menu_category} %>
<div class="container">
    <nav aria-label="breadcrumb" class="nav-current-category">
        <ol class="breadcrumb">
            <% @category.get_ancestors(true).each do |category_ancestor| %>
            <li 
                aria-current="<%= @category.id == category_ancestor.id ? 'page' : '' %>"
                class="breadcrumb-item <%= @category.id == category_ancestor.id ? 'active' : '' %>">
                <% if @category.id != category_ancestor.id %>
                    <%= link_to(category_ancestor.website_url) do %>
                        <%= category_ancestor.cat_name %>
                    <% end %>
                <% else %>
                    <%= category_ancestor.cat_name %>
                <% end %>
            </li>
            <% end if @category.get_ancestors(true).present? %>
        </ol>
    </nav>
</div>
<div class="container">
    <% if @products.present? %>
    <ul class="products-by-category">
        <% @products.each do |product| %>
        <li>
            <%= render partial: "layouts/product_info_part", locals: {product: product} %>
        </li>
        <% end %>
    </ul>
    <% else %>
    <div class="empty-block">
        <h1>No existen productos en esta categoría.</h1>
    </div>
    <% end %>
</div>