<%= render partial: "layouts/menu/list", locals: {menu_category: @menu_category} %>
<!--
<div class="container">
	<div class="row">
		<% 1.upto(5).each do |val|  %>
		<div class="col-lg-4"><%= val%></div>
		<% end  %>
	</div>
</div>
-->

<div class="container">
    <% if @products.present? %>
    <ul class="products-by-category">
        <% @products.each do |product| %>
        <li>
            <%= render partial: "layouts/product_info_part", locals: {product: product} %>
        </li>
        <% end %>
    </ul>
    <% else %>
    <div class="empty-block">
        <h1>No contamos con artículos en venta en estos momentos :(</h1>
    </div>
    <% end %>
</div>