<%= render partial: "layouts/menu/list", locals: {menu_category: @menu_category} %>
<div class="container">
    <div class="product-container">
        <p class="product-title"><%= @product.prod_name%></p>   
        <div class="row">
            <div class="col-lg-4">
                <figure>
                    <%= content_tag(:div,nil, class: "product-img-cover",style: "background-image: url(#{@product.first_image_url(request.base_url)})") %>
                </figure>
            </div>
            <div class="col-lg-8">
                <div class="product-details">
                    <section>
                        <p>
                            Precio S/ <%= @product.prod_price%>
                        </p>
                    </section>
                    <% if @product.product_tags.any? %>
                    <section>
                        <p>Especificaciones</p>
                        <table 
                            class="
                                table 
                                table-bordered 
                                table-hover 
                                table-striped">
                            <tbody>
                                <% @product.product_tags.each do |product_tag| %>
                                <tr>
                                    <td><%= product_tag.tag_key.capitalize %></td>
                                    <td><%= product_tag.tag_value %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </section>
                    <% end %>
                    <div class="product-buttons align-left">
                        <%= content_tag(:button, "Añadir al carrito", class: "btn btn-sm btn-cart", product: @product.to_json, 'product-first-image-url' => @product.first_image_url(request.base_url) ) %>
                    </div>
                </div>
            </div>
        </div>
        <% if @product.my_images.present? %>
            <%= content_tag(:ul, class: "products-list-preview") do %>
                <% @product.my_images.each do |prod_img| %>
                    <%= content_tag(:li, 'img-url' => "#{request.base_url}/#{prod_img[:relative_url]}", class: "img-preview" ) do %>
                        <%= content_tag(:div, nil, class: ["product-img-cover", "list-preview"], style: "background-image: url(#{request.base_url}/#{prod_img[:relative_url]})") %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>