<%= render partial: "layouts/menu/list", locals: {menu_category: @menu_category} %>
<div class="container search-results">
	<p>Resultados de búsqueda</p>
	<% if @products.present? %>
	<ul class="products-by-category">
			<% @products.each do |product| %>
			<li>
					<%= render partial: "layouts/product_info_part", locals: {product: product} %>
			</li>
			<% end %>
	</ul>
	<% else %>
	<h1>No se encontraron productos...</h1>
	<% end %>
</div>