<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prod_name %>
    <%= form.text_field :prod_name %>
  </div>

  <div class="field">
    <%= form.label :prod_desc %>
    <%= form.text_area :prod_desc %>
  </div>

  <div class="field">
    <%= form.label :prod_price %>
    <%= form.text_field :prod_price %>
  </div>

  <div class="field">
    <%= form.label :prod_price_off %>
    <%= form.text_field :prod_price_off %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
