<p id="notice"><%= notice %></p>

<p>
  <strong>Prod name:</strong>
  <%= @product.prod_name %>
</p>

<p>
  <strong>Prod desc:</strong>
  <%= @product.prod_desc %>
</p>

<p>
  <strong>Prod price:</strong>
  <%= @product.prod_price %>
</p>

<p>
  <strong>Prod price off:</strong>
  <%= @product.prod_price_off %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
