<footer>   
    <section class="footer-top">  
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6 col-xs-12">
            <ul class="store-list-actions footer-sitemap wrap">
              <li>
                <a href="/politicas-de-privacidad"><%= WebProperty.get('web_privacy_policy_text') || 'Privacidad' %></a>
              </li>
              <li>
                <a href="/terminos-y-condiciones"><%= WebProperty.get('web_terms_of_services_text') || 'Condiciones' %></a>
              </li>
              <li>
                <a href="/contactanos"><%= WebProperty.get('web_contact_us_text') || 'Contáctanos' %></a>
              </li>
            </ul>
            <ul class="store-list-actions footer-sitemap links-rounded">
              <li>
                <a href="<%= WebProperty.get('web_facebook_url') %>">
                  <i class="icofont-facebook icofont-2x"></i>
                </a>
              </li>
              <li>
                <a href="mailto://<%= WebProperty.get('web_email') %>">
                  <i class="icofont-send-mail icofont-2x"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-6 col-xs-12">
            <p class="footer-logo">
              <%= image_tag 'footer-logo' %>
            </p>
          </div>
          <div class="col-lg-5 col-sm-12 col-xs-12">
            <section class="footer-contact row">
              <div class="col-lg-5 col-md-6">
                <p>
                  <em>
                    <%= WebProperty.get('web_footer_message') %>
                  </em>
                </p>
              </div>
              <div class="col-lg-7 col-md-6">
                <p class="phone">
                  <a href="tel://<%= WebProperty.get('web_phone_number') %>">
                    <%= WebProperty.get('web_phone_number') %>
                  </a>
                </p>
                <p class="email">
                  <a href="mailto://<%= WebProperty.get('web_email') %>">
                    <%= WebProperty.get('web_email') %>
                  </a>
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </footer>