<header class="header-container">
    <section class="section-header">
      <div class="store-container">
        <div class="store-row">
          <div class="store-element store-col store-col-4">

            <div class="store-widget-wrap">
              <div class="store-widget-container">
                <ul class="store-list-actions">
                  <li>
                    <a href="tel://<%= WebProperty.get('web_phone_number')%>">
                      <i class="icofont-phone-circle"></i> <span><%= WebProperty.get('web_phone_number')%></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="store-element store-col store-col-4">
            <div class="store-element-image store-logo-image-top">
              <a href="/">
                <%= image_tag "logo" %>
              </a>
            </div>
          </div>
          <div class="store-element store-col store-col-4 store-align-right">

            <div class="store-widget-wrap">
              <div class="store-widget-container">
                <ul class="store-list-actions">
                  <li>
                    <i class="icofont-search"></i>
                  </li>
                  <li>
                    <a href="/carrito">
                      <i class="icofont-cart-alt"></i>
                    </a>
                  </li>
                  <li id="btn-menu">
                    <a>
                      <i class="icofont-navigation-menu"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </header>
  <div class="modal" tabindex="-1" id="modal-search">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Buscar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/busqueda">
            <input type="text" name="query" placeholder="Buscar producto..." />
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" id="modal-shopping-cart">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Pedido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary btn-sm btn-go-to-cart">Ir al carrito</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" id="modal-img-preview">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>