<div class="product-info-container">
    <a href="<%= "#{request.base_url}/#{product['record'].website_url}"%>">
        <div class="product-block">
            <% first_image_url = product["record"].first_image_url(request.base_url) %>
            <figure>
                <div 
                    class='img-cover' 
                    style="background-image: url('<%= first_image_url %>')" 
                    alt="">
                </div>
            </figure>
            <label class="title"><%= product['prod_name'].split.map(&:capitalize).join(' ') %></label>
            <span class="price">S/ <%= product['prod_price']%></span>
        </div>
    </a>
    <div class="product-buttons">
        <button class="btn btn-sm btn-cart" product='<%= product['record'].to_json%>' product-first-image-url="<%= product['record'].first_image_url(request.base_url)%>">
            <i class="icofont-plus"></i>
            <%= WebProperty.get('web_add_to_cart_message') || 'Añadir al carrito' %>
        </button>
    </div>
</div>