<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV.fetch('APP_NAME') || 'Store' %></title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdxO8QZAAAAAMk00z9ZVle45HIflpvGE_CqO2Sb"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Advent+Pro&family=Archivo+Narrow&family=Thasadith:wght@700&display=swap', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>

    <%= render  'layouts/footer' %>
  </body>
</html>
