<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to request order!</h1>
    <table style="text-align: left;">
        <tr>
            <th>Nombres</th>
            <td><%= @form[:fullname]%></td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td><%= @form[:phone]%></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= @form[:email]%></td>
        </tr>
    </table>
  </body>
</html>